@import "../../../assets/scss/variables";

.description-wrapper {
  background-image: url("../../../assets/images/minting_page_bg.6f03dd9f.jpg");
  height: 100vh;
  padding: 0px 40px;
  .description-container {
    max-width: 1360px;
    margin: 0 auto;
    .description {
      p,
      h1 {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
      }
      h1 {
        margin-bottom: 60px;
      }
    }
  }
}
