// Colors
$white: #ffffff;
$black: #000000;
$primary-bg-color: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);

// Fonts
$spaceGroteskFont: "Space Grotesk", sans-serif;
$sharpGroteskMediumFont: "Sharp Grotesk Medium", sans-serif;
$sharpGroteskSemiBoldFont: "Sharp Grotesk SemiBold", sans-serif;
$sharpGroteskBoldFont: "Sharp Grotesk Bold", sans-serif;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1230px;
