@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.rarity-chart-header-wrapper {
  .rarity-chart-header-container {
    background-color: black;
    position: relative;
    padding: 0px 40px;
    .rarity-chart-header {
      max-width: 1360px;
      margin: 0 auto;
      h1 {
        font-family: $sharpGroteskBoldFont;
        font-weight: 600;
        font-size: 48px;
        line-height: 120%;
        color: #ffffff;
        text-align: center;
        padding-top: 128px;
        padding-bottom: 16px;
        @include sm {
          font-size: 36px;
          line-height: 140%;
        }
      }
      p {
        font-family: $spaceGroteskFont;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        font-feature-settings: "ss03" on, "ss05" on;
        color: rgba(255, 255, 255, 0.6);
        padding-bottom: 120px;
      }
      .btn-polymorphs {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-polymorphs {
          background: rgba(255, 255, 255, 0.2);
          border: none;
          border-radius: 12px 12px 0px 0px;
          p,
          span {
            font-family: $sharpGroteskMediumFont;
            font-weight: 600;
            font-size: 12px;
            color: black;
            color: rgba(255, 255, 255, 0.6);
            line-height: 130%;
            padding: 16px 29.5px;
            cursor: pointer;
          }
          span {
            display: none;
            @include sm {
              display: flex;
            }
          }
          p {
            @include sm {
              display: none;
            }
          }
        }
      }
    }
  }
}
