@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.search-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  .search-bar {
    display: grid;
    grid-template-columns: 1fr 222px 54px;
    grid-gap: 12px;
    align-items: center;
    .search {
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      padding: 17px 44px;
      position: relative;
      img {
        position: absolute;
        top: 15px;
        left: 18px;
      }
      input {
        border: none;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-family: $spaceGroteskFont;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.4);
        }
      }
      @include md {
        grid-column: 1/4;
      }
    }
    .sort-cards {
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.1);
      position: relative;
      padding: 12px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #ffffff;
      border-radius: 12px;
      &:hover {
        box-shadow: 0px 0px 0px 5px rgba(102, 234, 90, 0.15);
        border: 1px solid transparent;
        background-image: linear-gradient(175deg, #bceb00, #00eaea);
        background-origin: border-box;
        box-shadow: inset 2px 1000px 1px #fff;
        svg {
          transform: rotate(180deg);
          transition: .5s ease-in-out;
          path {
            fill-opacity: 1;
          }
        }
      }
      p {
        font-family: $spaceGroteskFont;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-right: 13px;
      }
      .dropDown {
        visibility: hidden;
        position: absolute;
        top: 50px;
        left: 0;
        width: 222px;
        z-index: 1;
        ul {
          padding: 8px;
          list-style: none;
          background: #ffffff;
          border-radius: 6px;
          li {
            font-family:  $spaceGroteskFont;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            padding: 15px;
            &:hover {
              background-color: rgba(0, 0, 0, 0.05);
              border-radius: 6px;
            }
          }
        }
      }
      @include md {
        grid-column: 1/3;
      }
    }
    .sortBy {
      cursor: pointer;
      background: #ffffff;
      padding: 14px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      @include md {
        grid-column: 3/4;
      }
    }
  }
}
