@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.popup-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.cardContainer {
  max-width: 1360px;
  // width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .cardContent {
    display: grid;
    grid-template-columns: 1fr 530px;
    .image {
      background: url("../../../assets/images/minting_page_bg.6f03dd9f.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 15px 140px;
      position: relative;
      .close {
        border: 1px solid rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 40px;
        left: 40px;
        border-radius: 12px;
        padding: 8px;
        span {
          display: none;

          @include lg {
            display: block;
          }
        }
        @include lg {
          border: none;
          display: flex;
          align-items: center;
          position: static;
        }
      }
      .card-image {
        height: 85%;
        border-radius: 12px;

        @include lg {
          height: 748px;
        }

        @include sm {
          height: 335px;
        }
      }

      .switch {
        position: absolute;
        top: 48px;
        left: 8px;
        opacity: 0.2;
      }

      .badges {
        position: absolute;
        top: 63px;
        left: 585px;

        @include lg {
          top: 95px;
          left: 655px;
        }

        @include sm {
          top: 95px;
          left: 245px;
        }
      }

      @include lg {
        padding: 15px 40px;
      }
    }

    .card-description {
      background: $white;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

      .description {
        padding: 43px 40px 20px 40px;

        .title {
          display: flex;
          justify-content: space-between;
          padding-bottom: 23px;
        
          h1 {
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;

            @include sm {
              font-size: 20px;
            }
          }

          .button {
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: $white;
            border-radius: 8px;
            padding: 6px 12px;
          }
        }

        p {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6);
          padding-bottom: 23px;
        }

        .slideProperties {
          display: flex;
          border-bottom: 2px solid rgba(0, 0, 0, 0.1);
          padding: 11px 0;

          span {
            margin-right: 40px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
          }
        }

        .buttons {
          padding: 32px 0;

          button {
            background: linear-gradient(
              131.29deg,
              rgba(225, 246, 100, 0.2) 0%,
              rgba(254, 176, 254, 0.2) 34.66%,
              rgba(171, 179, 252, 0.2) 63.53%,
              rgba(93, 247, 164, 0.2) 100%
            );
            border-radius: 8px;
            border: none;
            padding: 6px 12px;
            margin-right: 8px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
          }
        }

        .pictures {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 5px;

          @include lg {
            grid-template-columns: repeat(4, 1fr);
          }

          @include sm {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }

      .hr {
        background: linear-gradient(
          90deg,
          #2ad0ca 0%,
          #e1f664 22.92%,
          #feb0fe 46.88%,
          #abb3fc 68.23%,
          #5df7a4 87.5%,
          #58c4f6 100%
        );
        height: 3px;
      }

      .scrableButton {
        padding: 24px 40px;

        button {
          background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
          box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
          border-radius: 12px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          border: none;
          padding: 14px 199px;

          @include lg {
            padding: 14px 282px;
          }

          @include sm {
            padding: 14px 130px;
          }
        }

        @include lg {
          text-align: center;
        }
      }
    }

    @include lg {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  @include lg {
    bottom: 0;
    overflow: auto;
    min-height: 100%;
  }
}
